* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333333;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "BBH Bartle", serif;
  color: #333;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  padding: 20px 0;
  color: white;
}
header .contenedor-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: white;
  font-family: "BBH Bartle", serif;
  font-size: 28px;
  font-weight: bold;
}
header .logo .titulo-destacado {
  color: #ffc107;
}
header .carrito a {
  color: white;
  font-weight: bold;
}

nav .menu-navegacion {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .menu-navegacion li a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
nav .menu-navegacion li a:hover, nav .menu-navegacion li a.active {
  color: #ffc107;
}
@media (max-width: 1024px) and (min-width: 768px) {
  nav .menu-navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    background-color: #ffc107;
    justify-content: space-around;
    padding: 8px 0;
    z-index: 1000;
  }
  nav .menu-navegacion li a {
    flex-direction: column;
    font-size: 12px;
    color: #333333;
  }
  nav .menu-navegacion li a i {
    font-size: 20px;
  }
  nav .menu-navegacion li a.active {
    color: #000000;
  }
}

@media (max-width: 767px) {
  .menu-navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    background-color: #ffc107;
    justify-content: space-around;
    padding: 8px 0;
    z-index: 1000;
  }
  .menu-navegacion li a {
    flex-direction: column;
    font-size: 12px;
    color: white;
  }
  .menu-navegacion li a i {
    font-size: 20px;
  }
  .menu-navegacion li a.active {
    color: #333;
  }
}
.menu-toggle {
  display: none;
}
.menu-toggle:checked ~ nav .menu-navegacion {
  display: flex;
}

.menu-toggle-label {
  display: none;
  cursor: pointer;
}
.menu-toggle-label span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

footer {
  background-color: #ffc107;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
}
footer .enlaces-footer {
  margin-top: 20px;
}
footer .enlaces-footer a {
  margin: 0 10px;
  color: white;
}
footer .enlaces-footer a:hover {
  color: #333;
}

.cuadricula {
  display: grid;
  gap: 20px;
}

.cuadricula-productos {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .cuadricula-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .cuadricula-productos {
    grid-template-columns: 1fr;
  }
}

.cuadricula-2 {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .cuadricula-2 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .cuadricula-2 {
    grid-template-columns: 1fr;
  }
}

.cuadricula-img {
  text-align: center;
  margin-bottom: 20px;
}

.boton, .boton-agregar, .boton-ver-mas,
.boton-comprar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
}
.boton:hover, .boton-agregar:hover, .boton-ver-mas:hover,
.boton-comprar:hover {
  background-color: #006d1c;
}

.boton-ver-mas,
.boton-comprar {
  width: 100%;
  margin-bottom: 5px;
}

.boton-ver-mas {
  background-color: #ffffff;
  color: black;
  border: 1px solid #333;
}
.boton-ver-mas:hover {
  background-color: #ffc107;
  color: black;
  border: solid 1px #ffc107;
}

.boton-agregar {
  width: 100%;
  background-color: #ffc107;
  color: black;
}
.boton-agregar:hover {
  background-color: #dc3545;
  color: white;
}

.boton-bloque {
  width: 100%;
}

.boton-categoria {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
  margin: 5px;
}
.boton-categoria:hover {
  background-color: #333;
  color: #ffc107;
  border-color: #ffc107;
}

.tarjeta, .tarjeta-productos {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tarjeta-productos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.tarjeta-productos img {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tarjeta-productos h3 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "BBH Bogle", sans-serif;
}
.tarjeta-productos .precio {
  font-size: 30px;
  color: #333;
  font-weight: normal;
  margin: 10px 0;
  font-family: "BBH Bogle", sans-serif;
  display: inline-block;
  padding: 4px 10px;
  border: 2px solid #ffc107;
  border-radius: 6px;
}
.tarjeta-productos .precio:hover {
  background-color: #ffc107;
  color: black;
  border-color: #ffc107;
}
.tarjeta-productos .destacar-text-color-rojo {
  color: #dc3545;
}

.cuadricula-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.postimg.cc/tCVvMjGf/Coder_Menu_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f8f9fa;
  min-height: 250px;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grupo-formulario {
  margin-bottom: 15px;
}
.grupo-formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.grupo-formulario .input-formulario,
.grupo-formulario .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.selector-comida {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.contenedor-titulo-bienvenidos {
  text-align: center;
  margin: 40px 0;
}
.contenedor-titulo-bienvenidos h1 {
  font-size: 2rem;
}
.contenedor-titulo-bienvenidos h1 .titulo-destacado {
  color: #ffc107;
}

.lista-categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.contenedor-titulo-seccion {
  text-align: center;
  margin: 40px 0 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  border-radius: 5px;
}
.contenedor-titulo-seccion h2 {
  margin-top: 20px;
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}
.contenedor-titulo-seccion .destacados {
  color: #ffc107;
}
.contenedor-titulo-seccion .titulo-destacado {
  color: #ffc107;
}
.contenedor-titulo-seccion {
  font-size: 1.2rem;
  background-color: #ffc107;
  color: #000000;
}
.contenedor-titulo-seccion .destacados {
  color: #ffffff;
  display: inline-block;
  padding: 4px 10px;
  border: 2px solid #ffc107;
  border-radius: 6px;
  background-color: #dc3545;
}

.contenedor-titulo-pregunta {
  text-align: center;
  margin: 40px 0 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  border-radius: 5px;
}
.contenedor-titulo-pregunta h2 {
  margin-top: 20px;
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}
.contenedor-titulo-pregunta .destacados {
  color: #ffc107;
}
.contenedor-titulo-pregunta .titulo-destacado {
  color: #ffc107;
}
.contenedor-titulo-pregunta {
  font-size: 1.2rem;
  background-color: #000000;
  color: white;
}
.contenedor-titulo-pregunta h2 {
  font-family: "BBH Bogle", sans-serif;
  font-weight: none;
  color: white;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: auto;
}
.contenedor-boton .boton-ver-mas {
  display: inline-block;
  width: 30%;
}
@media (max-width: 767px) {
  .contenedor-boton .boton-ver-mas {
    width: 100%;
  }
}

.video-fondo {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.contenido-principal-nosotros {
  margin-bottom: 40px;
  position: relative;
}
.contenido-principal-nosotros .contenido-sobre-video {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .contenido-principal-nosotros .contenido-sobre-video {
    width: 95%;
    margin-top: -20px;
  }
}

.contenedor-imagen-contacto {
  text-align: center;
}
.contenedor-imagen-contacto img {
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

.contenedor-sucursales {
  text-align: center;
  margin-top: 50px;
}
.contenedor-sucursales .tarjeta-sucursal {
  text-align: left;
}
.contenedor-sucursales .tarjeta-sucursal h3 {
  color: #333;
  font-size: 1.2rem;
}

.animacion-fade-in {
  animation: aparecer 1.5s ease-in;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
