body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* Header y nav */
header {
    background-color: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}


/* Contenido */
main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

img, video, iframe {
    display: block;
    margin-top: 10px;
    max-width: 100%;
}

/* Formulario */
input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
a {
    color: #ffcc00;
    text-decoration: none;
}
img#imgContact {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
