@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;


// HOME
.contenedor-titulo-bienvenidos {
    text-align: center;
    margin: vars.$espacio-grande 0;
    width: 100%;
    max-width: 100vw;


    h1 {
        font-size: clamp(1.5rem, 5vw, 3rem);
        line-height: 1.2;
        word-wrap: break-word;
        padding: 0 10px;
        margin: 0 auto;

        .bienvenido {
            font-family: vars.$fuente-secundaria;
            font-weight: bold;
        }

        .titulo-destacado {
            color: vars.$color-secundario;
            display: inline-block;
        }

        .titulo-coder {
            color: vars.$color-primario;
            display: inline-block;
        }
    }
}


.lista-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: vars.$espacio-medio 0;

}

.contenedor-titulo-seccion {
    @include mix.titulo-seccion;
    font-size: 1.2rem;
    background-color: vars.$color-secundario;
    color: vars.$color-negro;

    .destacados {
        color: vars.$color-blanco;
        display: inline-block;
        padding: 4px 10px;
        border: 2px solid vars.$color-secundario;
        border-radius: 6px;
        background-color: vars.$color-peligro;
    }
}

.contenedor-titulo-pregunta {
    @include mix.titulo-seccion;
    font-size: 1.2rem;
    background-color: vars.$color-negro;
    color: white;

    h2 {
        font-family: vars.$fuente-secundaria;
        font-weight: normal;
        color: white;
    }
}


.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;

    .boton-ver-mas {
        display: inline-block;
        width: 30%;

        @include mix.mobile {
            width: 100%;
        }
    }
}




// NOSOTROS
.video-fondo {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.contenido-principal-nosotros {
    margin-bottom: vars.$espacio-grande * 2;

    section {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row;

        @include mix.tablet {
            flex-direction: column !important;
        }

        @include mix.mobile {
            flex-direction: column !important;
        }
    }

    &:nth-of-type(even) {
        section {
            flex-direction: row-reverse;
            text-align: right;

            @include mix.tablet {
                text-align: center;
            }

            @include mix.mobile {
                text-align: center;
            }
        }
    }

    .contenedor-nosotros-carrusel {
        margin-bottom: vars.$espacio-grande * 2;
        margin-top: vars.$espacio-grande;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: 100%;
    }


    .video-fondo {
        width: 50%;
        margin-bottom: 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        @include mix.tablet {
            width: 100%;
            margin-bottom: 20px;
        }

        @include mix.mobile {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .tarjeta {
        position: static;
        width: 50%;
        height: auto;
        transform: none;

        background-color: transparent;
        background-image: none;
        border: none;

        color: vars.$color-negro;
        font-family: 'Arial', sans-serif;
        font-size: 1.1rem;
        line-height: 1.8;
        text-transform: none;
        font-weight: normal;
        text-align: left;

        margin: 0;
        padding: 20px;
        opacity: 1;

        @include mix.tablet {
            width: 100%;
            text-align: center;
            padding: 0 10px;
        }

        @include mix.mobile {
            width: 100%;
            text-align: center;
            padding: 0 10px;
        }

        p {
            margin-bottom: 1.5rem;
            color: #555;
        }
    }

    .overlay {
        display: none;
    }

    .contenido-sobre-video {
        @extend .tarjeta;
    }
}

.contenedor-nosotros-carrusel {
    margin-top: vars.$espacio-grande * 2;
    margin-bottom: vars.$espacio-grande * 2;
    width: 100%;
}

// CONTACTO
.contenedor-imagen-contacto {
    text-align: center;

    img {
        border-radius: 10px;
        box-shadow: 2px 2px 5px #ccc;
    }
}

.contenedor-sucursales {
    text-align: center;
    margin-top: 50px;
    margin-bottom: vars.$espacio-grande;
    background-color: vars.$color-fondo;


    .tarjeta-sucursal {
        text-align: left;
        padding: vars.$espacio-medio;
        border-radius: 25px;
        border: 0.2px solid vars.$color-negro;

        h3 {
            color: vars.$color-primario;
            font-family: vars.$fuente-secundaria;
            font-size: 2rem;
        }
    }

    .sucursal-destacada {
        color: vars.$color-peligro;
    }
}



// Animaciones
.animacion-fade-in {
    animation: aparecer 1.5s ease-in;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}