// Variables - Colores Originales
$color-primario: #333; // Negro
$color-secundario: #ffc107; // Amarillo
$color-texto: #333333;
$color-fondo: #f8f9fa;
$color-gris: #cccccc; // Gris
$color-verde: #006d1c; // Verde
$color-peligro: #dc3545; // Rojo
$color-blanco: #ffffff; // Blanco
$color-negro: #000000; // Negro

// Tipografía
$fuente-principal: 'Arial', sans-serif;
$fuente-titulos: 'BBH Bartle', serif;
$fuente-secundaria: 'BBH Bogle', sans-serif;

// Espaciado
$espacio-chico: 10px;
$espacio-medio: 20px;
$espacio-grande: 40px;